#extra-information {
    background-color: #403D38;
}

#extra-information .extra{
    width: 20%;
    float: left;
    padding: 35px;
}


#extra-information h3{
     padding-bottom: 25px;
     color: white;
     font-size: 20px;
}

#extra-information p{
    color: #969696;
    line-height: 30px;
    font-size: 18px;
    padding-bottom: 35px;
}

#extra-information  ul{
    padding-top: 30px;
    list-style: none;
    font-size: 20px;
    padding: 0px;
    color:#969696;
 
}

#extra-information  ul li{
    margin-bottom :20px;
    padding-top: 10px;     

}

#extra-information .icons{
    width: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

#extra-information .icon{
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

#footer{
    background-color: #353330;
    text-align: center;
    padding: 90px 0px;


    
}


#footer img{
   width: 400px;
}

#footer p{
    color: #777777;
    padding:30px 0px;
}

#footer .media a{
    text-decoration: none;
}


#footer .media .icons{

    width: 40px;
    border-style:soild;
    background-color: #403D38;
    color:#797979;
    border-color: rgb(0, 0, 0);
    border-width: 10px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

#footer .media .facebook img:hover {
    background-color : RGB(59, 89, 152);
    color: #FFFFFF;
}

#footer .media .google img:hover {
    background-color : RGB(221, 75, 57);
}

#footer .media .linkedin img:hover {
    background-color : RGB(0, 123, 181);
}

#footer .media .twitter img:hover {
    background-color : RGB(0, 172, 237);
}